:root {
/* Colores principales */
--gray: #666666;
--white: #ffffff;
--yellow: #ffde00;
--black: #000000;
--red: #FF5757; 
--green: #4CAF50;
--blue:#0066cc;

/* Colores fuertes */
--darkgray: #333333;/*#1a1a1a;*/
--darkwhite: #e5e5e5;
--darkyellow: #ffd42a;; 
--darkred: #D43A3A;
--darkgreen: #388E3C;
--darkblue:#004a99;

/* Colores suaves */
--lightgray: #c4c4c4;
--lightyellow: #fff066;
--lightblack: #484848;

  /* FONTS */
--FamilyRoboto: 'Roboto', sans-serif;
--FamilyLato: 'Lato', sans-serif;
}
*{
    font-family: var(--FamilyRoboto);
}

body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
/*
h1, h2, h3 {
    font-family: var(--FamilyLato);
}*/

a {
    text-decoration: none;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    transition: background-color 0.3s ease;
}

.btn--primary {
    background-color: var(--yellow);
    color: var(--darkgray);
}

.btn--primary:hover {
    background-color: var(--darkyellow);
    color: var(--darkgray);
}

.btn--secondary {
    background-color: var(--darkgray);    
    color: var(--white);
}

.btn--secondary:hover {
    background-color: var(--gray);    
    color: var(--white);
}

.btn--tertiary {
    background-color: var(--darkgray);
    color: var(--white);
}

.btn--tertiary:hover {
    background-color: var(--white);
    border: 1px solid var(--darkgray);
    color: var(--darkgray);
}

.label {
    font-weight: 500;
    margin-bottom: 5px;
    display: inline-block;
}

.text--medium{
    margin: 0 0 5px;
    font-weight: bold;
    text-align: left;
    color: var(--gray);
}

.text--small{
    margin: 0;
    color: var(--gray);    
    font-size: 0.9rem;
    text-align: left;
    margin-bottom: 5px;
}


.label--form {
    color: var(--gray);
    font-size: 1rem;
}

.input {
    padding: 10px;
    border: 1px solid var(--lightgray);
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    color: var(--gray);
    font-size: 1rem;
}

.label--highlight {
    color: #e74c3c;
    font-size: 16px;
}