/*** GENERALES ***/
.products,
.categories,
.about,
.reviews,
.contact {
    padding: 40px 20px;
    background-color: var(--white);
    text-align: center;
}

.products__header,
.categories__header,
.about__header,
.reviews__header,
.contact__header {
    margin-bottom: 20px;
}

.products__title,
.categories__title,
.about__title,
.reviews__title,
.contact__title,
.newsletter__title {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--black);
}
/*** /GENERALES ***/

/*** SECTION CONTACT ***/
/* Estilos Seccion Contacto */
.contact__grid {
    padding: 0px 200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.contact__form {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    gap: 15px;    
}

.contact__form-group {
    display: flex;    
    flex-direction: column;
    width: 100%;
    text-align: left;
}

.contact__form-group--fullname {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.contact__label{
    color:var(--gray);
    font-size: 1rem;
}
.contact__form-group input,
.contact__form-group textarea {   
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;    
    width: 100%;
    box-sizing: border-box;   
    font-size: 1rem; 
}

.contact__submit {
    padding: 10px;
    background-color: var(--yellow);
    font-size: 1rem;
    font-weight: bold;
    color: var(--white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact__info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;    
}

.contact__info-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.contact__info-item i {
    font-size: 24px;
    margin-right: 10px;
    color: var(--yellow);
}

.contact__info-content h3 {
    margin: 0 0 5px;
    font-weight: bold;
    text-align: left;
    color: var(--gray);
}

.contact__info-content p {
    margin: 0;
    color: var(--gray);    
    font-size: 0.9rem;
    text-align: left;
}

.contact__chat-link, .contact__email-link{
    color: var(--gray);
}


/*** SECTION CONTACT ***/

/*** SECTION NEWSLETTER ***/
.newsletter {
    padding: 40px 220px;
    background-color: var(--yellow);
    text-align: left;
    display: flex;
    justify-content: space-between;
}
.newsletter__header{
    width: 40%;
}
.newsletter__title{
    color: var(--white);
}
.newsletter__form-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    box-sizing: border-box;    
}

.newsletter__form {
    display: flex;
    align-items: center;    
    width: 100%;
}

.newsletter__input {
    padding: 10px ;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;    
    font-size: 1rem;
    width: 70%;
}

.newsletter__submit {
    padding: 10px 20px;    
    background-color: var(--white);
    font-size: 1rem;
    font-weight: bold;
    color: var(--yellow);
    border: 1px solid var(--white);
    font-size: 1rem;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    width: 30%;
}

.newsletter__submit:hover {
    background-color: var(--yellow);
    color: var(--white);
}

/*** SECTION NEWSLETTER ***/

/*** APLICAR A PANTALLAS DE HASTA 1023px ***/
@media (max-width: 1023px) {
    .contact__grid {
        padding: 0px;
        grid-template-columns: 1fr;/* Cambia a una sola columna */
        gap: 0px;
    }

    .contact__form {
        margin: 0px;
    }

    .contact__info {
        padding: 20px 0px 0px;
        margin: 0px
    }


    .newsletter {
        padding: 0px 20px;        
    }

    .newsletter__header{
        width: 50%;
    }

    .newsletter__form-container {
        width: 50%;
    }   
    .newsletter__input {
        width: 65%;
    }
    
    .newsletter__submit {
        width: 35%;
    }
}

@media (max-width: 767px) {
    .contact__info {
        grid-template-columns: 1fr;    
    }

    .contact__form-group--fullname {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .contact__form-group--fullname input {
        flex: 1;
    }

    /*** SECTION NEWSLETTER ***/
    .newsletter {
        flex-direction: column;
        align-items: flex-start;
    }

    .newsletter__header {
        font-size: 1.5rem;
        text-align: left;
        margin: 0 0 10px 0;   
        width: 100%;
    }

    .newsletter__form-container {
        width: 100%;
    }

    .newsletter__form {
        flex-direction: column;
        padding: 0;
        width: 100%;
    }

    .newsletter__input {
        width: 100%;
        border-radius: 5px;
        margin-bottom: 10px;
        box-sizing: border-box;
    }

    .newsletter__submit {
        width: 100%;
        border-radius: 5px;
    }

}