/* Navbar principal */
.header__navbar {
    background-color: var(--yellow) !important;
}

.navbar .dropdown-menu {
    background-color: var(--yellow) !important; /* Color claro de fondo */
    border:none!important;
}

/* Logo */
.header__logo {
    height: 50px;
    max-width: 100%;
}

.header__search-input {
    border-radius: 5px 0 0 5px !important;
}

.header__search-button {
    border-radius: 0 5px 5px 0 !important;
}

.header__icon {
    color: var(--darkgray) !important;
}

.header__icon:hover {
    color: var(--gray) !important;
}

@media (max-width: 991px) {
    .navbar .dropdown-menu {
        background-color: var(--yellow) !important; /* Color claro de fondo */
        border:none!important;
        width: 100vw!important;
        padding-right: 40px!important;
      }
}