/*** GENERALES ***/
.products,
.categories,
.about,
.reviews,
.contact {
    padding: 40px 20px;
    background-color: var(--white);
    text-align: center;
}

.products__header,
.categories__header,
.about__header,
.reviews__header,
.contact__header {
    margin-bottom: 20px;
}

.products__title,
.categories__title,
.about__title,
.reviews__title,
.contact__title,
.newsletter__title {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--darkgray);
}
/*** /GENERALES ***/

/*** SECTION CONTACT ***/
/* Estilos Seccion Contacto */
.contact__grid {
    padding: 0px 200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.contact__form {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    border: 1px solid var(--lightgray);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    gap: 15px;    
}

.contact__form-group {
    display: flex;    
    flex-direction: column;
    width: 100%;
    text-align: left;
}

.contact__form-group--fullname {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.contact__info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;    
}

.contact__info-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--white);
    padding: 15px;
}

.contact__info-item i {
    font-size: 1.5rem;
    margin: 0px 10px 10px 0px;    
    color: var(--darkgray);
}

.contact__chat-link, .contact__email-link{
    color: var(--blue);
}

.contact__chat-link:hover{
    color: var(--darkblue);
}

.contact__email-link:hover{
    color: var(--darkblue);
}

/*** SECTION CONTACT ***/

/*** SECTION NEWSLETTER ***/
.newsletter {
    padding: 40px 220px;
    background-color: var(--yellow);
    text-align: left;
    display: flex;
    justify-content: space-between;
}
.newsletter__header{
    width: 40%;
}

.newsletter__form-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    box-sizing: border-box;    
}

.newsletter__form {
    display: flex;
    align-items: center;    
    width: 100%;
}

.newsletter__input {
    border-radius: 5px 0 0 5px;    
    width: 70%;
}

.newsletter__submit {
    border-radius: 0 5px 5px 0!important;
    width: 30%;
}

/*** SECTION NEWSLETTER ***/
.whatsapp-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25D366; /* Color verde de WhatsApp */
    color: var(--white); /* Color blanco para el icono */
    font-size: 24px;
    padding: 15px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    text-decoration: none;
    transition: transform 0.3s;
}

.whatsapp-icon:hover {
    transform: scale(1.1);
}



/*** APLICAR A PANTALLAS DE HASTA 1023px ***/
@media (max-width: 1023px) {
    .contact__grid {
        padding: 0px;
        grid-template-columns: 1fr;
        gap: 0px;
    }

    .contact__form {
        margin: 0px;
    }

    .contact__info {
        padding: 20px 0px 0px;
        margin: 0px
    }


    .newsletter {
        padding: 0px 20px;        
    }

    .newsletter__header{
        width: 50%;
    }

    .newsletter__form-container {
        width: 50%;
    }   
    .newsletter__input {
        width: 65%;
    }
    
    .newsletter__submit {
        width: 35%;
    }
}

@media (max-width: 767px) {
    .contact__info {
        grid-template-columns: 1fr;    
    }

    .contact__form-group--fullname {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .contact__form-group--fullname input {
        flex: 1;
    }

    /*** SECTION NEWSLETTER ***/
    .newsletter {
        flex-direction: column;
        align-items: flex-start;
    }

    .newsletter__header {
        font-size: 1.5rem;
        text-align: left;
        margin: 0 0 10px 0;   
        width: 100%;
    }

    .newsletter__form-container {
        width: 100%;
    }

    .newsletter__form {
        flex-direction: column;
        padding: 0;
        width: 100%;
    }

    .newsletter__input {
        width: 100%;
        border-radius: 5px;
        margin-bottom: 10px;
        box-sizing: border-box;
    }

    .newsletter__submit {
        width: 100%;
        border-radius: 5px;
    }

}

