<!DOCTYPE html>
<html lang="es">
<!-- Head -->
<%- include("../partials/head",{title:"Inicio"}) %>

    <body>
        <!-- Header -->
        <%- include("../partials/header") %>

        <!-- Scripts -->
        <%- include("../partials/scripts") %>
    </body>

</html>