<!DOCTYPE html>
<html lang="es">
<!-- Head -->
<%- include("../partials/head",{title:"Lista de productos"}) %>

    <body>
        <!-- Header -->
        <%- include("../partials/header") %>
        <main>
            <section class="container my-4">
                <div class="row">
                    <div class="col-12">
                        <h1 class="my-4 text-center">Resultados de la Búsqueda</h1>
                    </div>
                </div>
        
                <!-- Lista de resultados -->
                <div id="product-list" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-4">
                    <!-- Los productos se cargarán aquí -->
                </div>
            </section>                   
        </main>
 
            <!-- Footer -->
            <%- include("../partials/footer") %>
            
            <!-- Icon whatsapp -->
            <a href="https://wa.me/5491156092589" target="_blank" class="whatsapp-icon"><i class="fab fa-whatsapp"></i></a>

            <!-- Scripts -->
            <%- include("../partials/scripts") %>
    </body>

</html>