<section class="carousel">
    <div class="carousel-slide active">
        <img src="images/banner/Banner_craneana.jpg" alt="Imagen 1">
        <div class="carousel-caption">
            <h2 class="carousel-title">¡TRABAJAMOS PARA PROTEGERTE!</h2>
            <p class="carousel-description">EQUIPOS DE PROTECCIÓN PERSONAL QUE ASEGURAN TU SEGURIDAD.</p>
        </div>
    </div>
    <div class="carousel-slide">
        <img src="images/banner/Banner_auditiva.jpg" alt="Imagen 2">
        <div class="carousel-caption">
            <h2 class="carousel-title">SOMOS TU ALIADO EN SEGURIDAD LABORAL</h2>
            <p class="carousel-description">EL RESPANDO QUE NECESITAS EN CADA JORNADA.</p>
        </div>
    </div>
    <div class="carousel-slide">
        <img src="images/banner/Banner_Facial.jpg" alt="Imagen 3">
        <div class="carousel-caption">
            <h2 class="carousel-title">CALIDAD CERTIFICADA EN CADA PRODUCTO</h2>
            <p class="carousel-description">EPPS QUE CUMPLEN CON LOS ESTÁNDARES DE SEGURIDAD MÁS ALTOS.</p>
        </div>
    </div>
    <div class="carousel-controls">
        <button class="carousel-button prev" onclick="changeSlide(-1)">&#10094;</button>
        <button class="carousel-button next" onclick="changeSlide(1)">&#10095;</button>
    </div>
</section>