<section class="newsletter" id="newsletter">
    <div class="newsletter__header">
        <h2 class="newsletter__title">Suscríbete a nuestro Newsletter</h2>
    </div>
    <div class="newsletter__form-container">
        <form class="newsletter__form" action="">
            <input type="email" id="emailNewsLetter" name="emailNewsLetter" class="newsletter__input input"
                placeholder="Introduzca su correo electrónico" required>
            <button type="submit" class="newsletter__submit btn btn--secondary">SUSCRÍBETE</button>
        </form>
    </div>
</section>